
/* Normal desktop :1200px. */
@media (max-width: 1199px) {
    .about__social__info {
        margin-right: 15px;
   }
    .section__info h4 {
        margin: var(--margin-zero);
   }
    .freelancer__text p {
        margin: var(--margin-zero);
   }
}
/* Normal desktop :992px. */
@media (max-width: 991px) {
    .about__social__info {
        margin-right: 15px;
   }
    .about__social__info {
        margin-right: 90px;
   }
    .about__social__icon {
        text-align: center;
        margin-top: 20px;
   }
    .header__area__box h2, .freelancer__text h2 {
        font-size: 2.3rem;
   }
}
/* small mobile :320px. */
@media (max-width: 767px) {
    .header__area__box h2, .freelancer__text h2 {
        font-size: 2rem;
   }
}
/* Large Mobile :479px. */
@media (max-width: 479px) {
    .about_short_contact_wrap ul li p, #features .about-text-item {
        width: 100%;
   }
}
/* Large Mobile :375px. */
@media(max-width: 375px) {
    .about_short_contact_wrap ul li p, #features .about-text-item {
        width: 100%;
   }
}
/* Large Mobile :320px. */
@media(max-width: 320px) {
    .about__social__icon a i {
        margin-right: 10px;
   }
    .about_short_contact_wrap ul li label {
        min-width: 0px;
        margin-right: 0px;
   }
}
